<!DOCTYPE html>
{% import 'macros.jinja' as m -%}
<html lang="en">
  <head>
    <link rel=icon href="favicon.png">
    {%- block meta %}
    {%- endblock %}
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="refresh" content="300">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ m.css("/namespace/static/css/spectre.min.css") }}
    {{ m.css("/namespace/static/css/spectre-exp.min.css") }}
    {{ m.css("/namespace/static/css/spectre-icons.min.css") }}
    {{ m.css("/namespace/static/css/datatables.min.css") }}
  </head>
  <body>
    <section class="section section-header bg-gray">
    <section class="grid-header container">
    </section>
    </section>

    <div class="container">
      <div class="columns">
        <div class="column col-1 bg-secondary">
        </div>
        <div class="column col-10">
          {%- block content %}
          {%- endblock %}
        </div>
        <div class="column col-1"></div>
      </div>
    </div>
    {{ m.script("/namespace/static/js/jquery.min.js") }}
    {{ m.script("/namespace/static/js/datatables.min.js") }}
    {%- block scripts %}
    {%- endblock %}
  </body>
</html>
